@page "/blazingpong"
@using Games.Client.Model;
@using System.Threading;

<h3>Blazing Pong</h3>

<div>&copy; Linda Lawton 2019</div>

<p>A pong style game created in Balzor</p>


<GamePannel Game="@Game" StartGameParentMethod = "@btnStartGame"></GamePannel>

@code {
    GameModel Game;
    int myPaddleHeight = 100;
    int myPaddleWidth = 20;
    int myPaddleSpeed = 10;

    protected override async Task OnInitAsync()
    {
        Game = new GameModel();
        Game.Height = 400;
        Game.Width = 600;
        NewGame();
    }

    private void NewGame()
    {
        ResetBall();


        Game.Players = new Dictionary<string, Player>()
{
            { "playerleft", new Player()
                            {
                                IsHuman = true,
                                PlayerScore = new PaddleOptons(true, false, false, false),
                                Score = 0,
                                Paddles = new List<Paddle>()
                    {
                                    new Paddle()
                                    {
                                        Height = myPaddleHeight,
                                        Width = myPaddleWidth,
                                        Speed = myPaddleSpeed,
                                        Style = "fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)",
                                        CurrentPosition = new Point(20, Game.Height / 2 - myPaddleHeight / 2),
                                        PaddleMovment = PaddleMovment.PaddleMovmentAll()
                                     }
                                }
                            }
            },
            { "playerright", new Player()
                            {
                                IsHuman = false,
                                PlayerScore = new PaddleOptons(true, false, false, false),
                                Score = 0,
                                Paddles = new List<Paddle>()
                    {
                                    new Paddle()
                                    {
                                        Height = myPaddleHeight,
                                        Width = myPaddleWidth,
                                        Speed = myPaddleSpeed,
                                        Style = "fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)",
                                        CurrentPosition = new Point(550, Game.Height / 2 - myPaddleHeight / 2),
                                        PaddleMovment = PaddleMovment.PaddleMovmentVirtical()
                                    }
                                }
                            }
            }
        };



        Game.Active = Game.Players.First().Value;



       


    }

    private void ResetBall()
    {
        Game.Balls = new List<Ball>
        ();
        Game.AddBall(5, 5, "fill:rgb(255,0,0);stroke-width:1;stroke:rgb(0,0,0)", new Point(50, 200), new Point(50 + 5, 200 + 5), new Point(55 - 5, 200 - 5));
        Game.Balls.First().HideBall();

    }


    private void btnStartGame()
    {
    }


}



