@using Games.Client.Model;
@using System.Threading;
@page "/"

<h1>Blazor game test</h1>
<div>&copy; Linda Lawton 2019</div>

<p>A proof of consent example of Bouncing a ball off of a wall using a paddle with Blazor.</p>


