@inherits ScoreModel;
@using Games.Client.Model

<Table width="600">
    <tr>
        <td>Left <font size="6">@Left</font></td>
        <td>Right <font size="6">@Right</font></td>
    </tr>
</Table>


@code {



}